{% extends 'base.html' %}
{% load static %}

{% block style %}
        <style type="text/css">
		#fh5co-offcanvas {
    width: auto;
}
#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
    width: auto;
    padding: 50px;
}
	</style>
{% endblock style %}

{% block content %}


<div class="container ">
<div class="col-lg-4 col-lg-offset-4">
<h2 class="text-center">Login </h2>
<br>
<form action="" method="POST">

{% csrf_token %}
<div class="form-group">
<label > Username </label>
<input type="text" name="username" class="form-control">
</div>

<div class="form-group">
<label > Password </label>
<input type="Password" name="password" class="form-control">
</div>

<button type="submit" class="btn btn-default"> login </button>

</form>
</div>
</div>
{% endblock content %}